.DS_Store
.vscode
node_modules /
cobertura/
caixa de areia/
npm_debug.log
process.pid
funções.json
local.txt
keyfile.json
translate_apikey.json
folhas
doc /
.nyc_output
*.registro
config.json
app.yaml
test / system / configstore
teste / sistema / *. log
.idéia/
teste / firebase /
teste / system / test-log.txt
yarn.lock
package-lock.json